[user]
	name = Brian Hong
	email = brian@bhong.dev

#[user]
#	name = Seok hyeon Hong
#	email = lkd.brian@gmail.com

[alias]
	graph = log --graph --all --oneline --abbrev-commit

[push]
	default = simple

[core]
	autocrlf = input
	editor = vim

[color]
	ui = auto

[commit]
	#gpgsign = true

[gpg]
	program = gpg2

[merge]
	#tool = vimdiff
	tool = vscode
	conflictstyle = diff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[mergetool]
	prompt = true
[oh-my-zsh]
	hide-status = 0
